{% extends "base.html" %}
{% load static %}
{% block title %}
Lista de Funcionários
{% endblock %}

{%block content%}
<a class="btn btn-primary" href="{% url 'funcionario-create' %}">Novo</a>
<ul>

    {% for funcionario in object_list %}
        <li><a href="{% url 'funcionario-update' funcionario.id %}">{{funcionario.nome}}</a> <a class="btn btn-danger" href="{% url 'funcionario-delete' funcionario.id%}">X</a></li>
    {% empty %}
        <li>Sem funcionários</li>
    {% endfor %}
    </ul>
{%endblock%}

{% block scripts_librarys %}
<script src="{% static 'js/funcionario.app.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% endblock %}