{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock%}
{% block content %}
<div class="row">
    <div class="col-sm">
        {% if user.funcionario.empresa %}
        <ul>
            <li> <a class="btn btn-primary" href="{% url 'empresa-update' user.funcionario.empresa.id %}">Editar empresa</a></li>
            <li><a class="btn btn-primary" href="{% url 'funcionario-list' %}">Gerenciar Funcionários</a></li>
            <li><a class="btn btn-primary" href="{% url 'departamento-list' %}">Gerenciar Departamentos</a></li>
        </ul>
        {% else %}
            <a class="btn btn-primary" href="{% url 'empresa-create' %}">Criar empresa</a>
        {% endif %}
    </div>
    <div class="col-sm">
        Seja bem vindo {{user.funcionario.nome}}
    </div>
    <div class="col-sm">
        <a class="btn btn-danger" href="{%url 'logout'%}">Sair</a>
    </div>
</div>
{% endblock %}